<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= post.title %> </h1>
    <section id="post-meta">
      <h2><%= post.author_name %> </h2>
      <h3><%= post.date %> </h3>
    </section>
    <hr>
    <section>
      <p id="body"><%= post.body %> </p>
    </section>
  </main>
</body>

</html>