<%- include("includes/head") %> 

<main>
    <h1><%= userFound.name %></h1>
    <h1><%= userFound.city %></h1>
    <h1><%= userFound.contact %></h1>
</main>

<%- include("includes/footer") %> 